<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Home - Smart Contact Management</title>
</head>
<body>
<div id="content">
    <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
    </div>

    <div class="sm:pl-640 pt-20">
        <div class="text-center">
            <h1 class="text-4xl font-bold">Welcome to Smart Contact Management</h1>
            <p class="mt-4 text-gray-500">
                Easily manage your contacts, store them securely, and access them anytime, anywhere.
            </p>
            <a href="/user/contacts/add" class="mt-6 inline-block px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700">
                Add a New Contact
            </a>
        </div>
    </div>
</div>

<script data-th-src="@{'/js/admin.js'}"></script>
</body>
</html>

